<div class='row'>

	<div class='col s12 m3 profile'>

	      <img class = "responsive-img circle" src = "./img/startup3.png">
	      <h4> Buber</h4>
	      <h6> Located in Cape Town </h6>
	      <h7> The most delicious apps in the indutry</h7>
	      <div class="collection">
	        <a href="#!" class="collection-item"><span class='btn col s12'>Stage &nbsp </span><br><br>Start Up Company</a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Industry</span><br><br>Software </a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Location</span><br><br>Cape Town</a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Founded</span><br><br>3 Mar 15</span></a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Website</span><br><br>buber.com </a>
	      </div>

	  </div>


  	<div class='col s12 m8 vidContent'>

  		<iframe class='video' src="https://www.youtube.com/embed/DVu311G5qvI" frameborder="0" allowfullscreen></iframe>

  	</div>


  	<div class='col s12 m8'>

      <ul class="collection">

 			    <li class="collection-item">
 			      <span class="badge"> <div id='valueProposition' class="chip"></div></span>
 			      <p class="title"><b>Value Proposition</b></p>
 			      <p>What problem are you solving, for whom?</p>

 			    </li>

 			    <li class="collection-item">

 			      <span class="badge"> <div id='bussinessModel' class="chip"></div></span>
 			      <p class="title"><b>Business Model</b></p>
 			      <p>How will you make money? How much? When?</p>

 			    </li>


 			    <li class="collection-item">

 			      <span class="badge"> <div id='product' class="chip"></div></span>
 			      <p class="title"><b>Product</b></p>
 			      <p>How easy is it to use, how well is it built?</p>

 			    </li>

 			   <li class="collection-item">

 			      <span class="badge"> <div id='scale' class="chip"></div></span>
 			      <p class="title"><b>Scale </b></p>
 			      <p>Majority Markets vs local vs US</p>

 			   </li>

 			   <li class="collection-item">

 			      <span class="badge"> <div id='innovation' class="chip"></div></span>
 			      <p class="title"><b>Innovation</b></p>
 			      <p>Why is this so cool?</p>

 			    </li>

 			   <li class="collection-item">

 			      <span class="badge"><div id='pitch' class="chip" ></div></span>
 			      <p class="title"><b>Pitch</b></p>
 			      <p>How good are you at convincing me this is the best thing ever?</p>

 			   </li>

 			    <li class="collection-item">

 			      <span class="badge"> <div id='unfairAdvantage' class="chip" ></div></span>
 			      <p class="title"><b>Unfair Advantage</b></p>
 			      <p>Why this team to build this thing, and why now?</p>

 			    </li>

 		  </ul>



	</div>
  </div>
