<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class = "row">
      <div class = "col s2 m4"><img class="responsive-img" src = "img/pitchapp.png"/></div>
      <div class = "col s8 m4"><img class="responsive-img" src = "img/pitchapp1.png"/></div>
      <div class = "col s2 m4"><img class="responsive-img" src = "img/pitchapp.png"/></div>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">Enter, host and judge startup competitions</h5>
    </div>
    <div class="row center">
      <a href="/compList" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up Judging Process</h5>

          <p class="light">We did most of the heavy lifting for you to provide sound and accurate judgement of startup pitches.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a platform that allows you to easily create, enter and judge startup competitions.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">Interface needs very little explanation as every element is straightforward with no unnecessary info.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
