<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class = "center row">

      <div class = "col s12"><img id = "logo" src = "img/pitchapp1.png"/></div>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">Enter, host and judge startup competitions</h5>
    </div>
    <div class="row center">
      <div class="col s12 m4">
        <a href="/org/compList" id="download-button" class="btn-large waves-effect waves-light light-green accent-4">Organiser</a>
      </div>
      <div class="col s12 m4">
        <a href="/startup/compList" id="download-button" class="btn-large waves-effect waves-light light-green accent-4">Startup</a>
      </div>
      <div class="col s12 m4">
        <a href="/judge/compList" id="download-button" class="btn-large waves-effect waves-light light-green accent-4">Judge</a>
      </div>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">For Judges</h5>

          <p class="center light">Speeds up the juging process</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">group</i></h2>
          <h5 class="center">For Startups</h5>

          <p class="center light">Easily find and enter startup competitions</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">For Competition Organizers</h5>

          <p class="center light">Setup startup contest campaigns and reach out to starups and judges</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
