<div class="section no-pad-bot" id="index-banner">

</div>
<!--CONTENT START-->
<div class="row">
    <!--COMP SECTION START-->
    <div id="comp" class="col s12">
      <div class = "container">
        <!--NEW COMPETITION START-->
        <a href = "/newComp"><div class="row">
          <div class="col s3"><br><i class="large material-icons">add</i></div>
          <div class="col s9">
            <br><br>
            <span class="flow-text">Add New Competition
            </span>
          </div>
        </div></a>
        <hr/>
        <!--NEW COMPETITION END -->

        <!--COMPETITION START -->
          <div class="row">
            <a href = "/comp">
            <div class="col s3"><img class = "responsive-img circle" src = "./img/startup.png"></div>
            <div class="col s6">
              <span class="flow-text">NinjaStartup Pitch Contest</span>
              <br>
                <p>NinjaFund
                <br>
                29/10/15
                <br>
                16h00 - 19h00
                <br>
                Entries: 20/30</p>
            </div>
          </a>
            <div class = "col s3">
              <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
              <a class="btn-floating btn-large waves-effect waves-light green listButton">Open</a>
            </div>
          </div>
          <hr/>
          <!--COMPETITION END -->
        <div class="row">
          <div class="col s3"><img class = "responsive-img circle" src = "./img/startup2.png"></div>
          <div class="col s6">
            <span class="flow-text">TreeStartup Competition</span>
            <br>
            <span class="">
              <p>TreeFund
                    <br>
                    29/10/15
                    <br>
                    16h00 - 19h00
                    <br>
                    Entries: 20/30
              </p>
            </span>
          </div>
          <div class = "col s3">
            <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
            <a class="btn-floating btn-large waves-effect waves-light green listButton">Open</a>
          </div>
        </div>
        <hr/>

      <div class="row">
        <div class="col s3"><img class = "responsive-img circle" src = "./img/startup3.png"></div>
        <div class="col s6">
          <span class="flow-text">CarStartup Battle</span>
          <br>
          <span class="">
            <p>CarFund
                  <br>
                  29/10/15
                  <br>
                  16h00 - 19h00
                  <br>
                  Entries: 20/30
            </p>
          </span>
        </div>
        <div class = "col s3">
          <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
          <a class="btn-floating btn-large waves-effect waves-light green listButton">Open</a>
        </div>
      </div>
      <hr/>
          <br><br>

          <div class="section">

          </div>
        </div>
    </div>
    <!--COMP SECTION END-->
</div>
<!--CONTENT END-->
