<div class="container section no-pad-bot" id="index-banner">
    <div class="light-green accent-4 small card-panel col s12 m4 form">        
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3 light-green accent-4"><a class='active white black-text' href="#test1">Sign Up</a></li>
                <li class="tab col s3 light-green accent-4"><a class="active  white black-text" href="#test2">Login</a></li>            
              </ul>
            </div>

            <div id="test1" class="col s12">
             <form class="col s12">
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <input  id="first_name" type="text" class="validate">
                      <label for="first_name" class='white-text'>First Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name" class='white-text'>Last Name</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password" class='white-text'>Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password" class='white-text'>Repeat-Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email" class='white-text'>Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button class='btn orange'> Submit </button>
                    </div>
                  </div>
            </form>

            </div>
            <div id="test2" class="col s12">
                <br>
              <h5 class='white-text'> Welcome Back!</h5>
             
              <form class="col s12" action='/login' method='post'>

                  <div class="row">
                    <div class="input-field col s12">
                      <input  id="first_name" name='name' type="text" class="validate">
                      <label for="first_name" class='white-text'>email</label>
                    </div>
                 </div>
                  
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" name='password' class="validate">
                      <label for="password" class='white-text'>Password</label>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="input-field col s12">
                      <button type='submit' class='btn orange'> Submit </button>
                    </div>
                  </div>

            </form>

            </div>
         
          </div>   
</div>
