/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#logo{
  width: 30%;
  height: auto;
}
a{
  color: #242479;
}
#logo-container{
  margin-top: 0.2em;
}
#download-button{
  margin: 5px;
  min-width: 10em;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    background-image: url("../img/pitchapp.png");
    background-size: cover;
    width: 5em;
    height: 1.5em;
}
.listButton{
  float: right;
  position: relative;
  margin: 0.3em;
}

.closeJudge{
  display: none;
  color: red;
  padding-bottom: 0.1em;


}

#judgeBtn{
  display: none;
}
.openJudge{
  color: green;
  padding-bottom: 0.1em;
}
 .feedbackEdit{
  display: none;
 }
.closeComp{
  display: none;
  color: red;
  padding-bottom: 0.1em;


}
.openComp{
  color: green;
  padding-bottom: 0.1em;
}
.badge{
  margin-top: 2em;
  margin-bottom: 0em;
  display: block;
}
.btn{
  background-color: #242479;
}
.collection .collection-item{
  padding:1.5%;
}
.chip{background-color: white;}
.video{width:100%;
    margin-top: 1%;
    height:20em;
  }
.video{
  margin-top:1%;
  padding:2%;
}
.feedback{
   display: none;
}


@media only screen and (max-device-width: 480px) {
       .startupInfo{display:none;}
  }
.addbtn{

  box-shadow:1px 1px 1px 1px grey;
}
.addbtn:hover{
    transform:scale(1.1);
    transition:transform .1s linear;
}